<div class="dashboard">
  <div class="content">
    <div class="nav">
      <div class="side-nav--compact">
        <div class="nav-nav-container">
          <div class="index-side-nav-compact">
            <div class="nav-header"></div>
            <ul class="nav-top-links">
              <li class="nav-top-links-list"> 
                Contacts
              </li>
              <li class="nav-top-links-list"> 
                Companies
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>