<div class="login-page">
  <div class="header">
      <a href="/">
        <div class="header--logo">

        </div>
      </a>
  </div>
  <div class="main-container--content">
    <div class="index--container">
      <div class="tabbed-pane">
        <div class="tabbed-pane--tabs">
          <div class="tabbed-pane--tab tabbed-pane--_tab">
            Sign Up
          </div>
          <div class="tabbed-pane--tab-selected tabbed-pane--_tab">
            Sign In
          </div>
        </div>
        <div class="tabbed-pane--content">
          <div>
            <div class="form--header">
              Sign in to your account
            </div>
            <div class="form--description">
              The purpose of this account is to allow you to configure the extension to suit your needs as well as view and manipulate your data. 
            </div>
            <form (ngSubmit)="onLogin()" novalidate>
              <div class="form-wrap">
                <div class="form-group">
                  <input type="username" class="form-control" name="username" id="username" [(ngModel)]="user.username" placeholder="Username" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>